html,body{
overflow: hidden;
background-color: black;
user-zoom: none;
user-select: none;
}

.row{
display: flex;
flex-flow: row nowrap;
}


.col{
    display: flex;
    flex-flow: column nowrap;
    }
    

.div1{
display:block;
    height:97vh;
    width:70vw;

}

.div2{
    display:block;
    height:97vh;
    width:30vw;
   
}

.vidclass1{
    user-select: none;
    user-zoom: none;
    display:block;
    height: 100%;
    object-fit: fill;
    width: 100%;
}

.vidclass2{
    display:none;
    height: 100%;
    object-fit: fill;
    width: 100%;
}

.buttons{
height:100%;
width:100%;
font-size: 100%;
   text-emphasis: bold;
   font-weight: bold;
   background-color: rgb(69, 69, 69);
   border-color: rgb(91, 91, 91);
   border: 3%;
user-select: none;
user-zoom: none;
}

.labelrow{
    font-size: 100%;
   text-emphasis: bold;
   font-weight: bold;
   background-color: rgb(69, 69, 69);
   border-color: rgb(91, 91, 91);
   height: 6vh;
}

.speeddisplay{
    height:100%;
width:100%;
    font-size: 150%;
    text-emphasis: bold;
    font-weight: bold;
    text-align: center;

    background-color: rgb(69, 69, 69);
    border-color: rgb(91, 91, 91);
}

.aboutclass{
    font-size: 300%;
height:100%;
width: 100%;
display:none;
background-color: rgb(180, 15, 15);
-webkit-text-fill-color: aqua;
}

.ctrlrow1{
    display:flex;
    flex-flow: row nowrap;
    height:20vh
    
    }

.ctrlrow2{
display:flex;
flex-flow: row nowrap;
height:10vh

}

.ctrlrow2{
display:flex;
flex-flow: row nowrap;
height:3vh
    
}

.ctrlrow3{
display:flex;
flex-flow: row nowrap;
height:10vh

}
.ctrlrow4{
    display:flex;
    flex-flow: row nowrap;
    height:10vh
    
    }
.ctrlrow5{
display:flex;
flex-flow: row nowrap;
height:10vh
}

.ctrlrow6{
    display:flex;
    flex-flow: row nowrap;
    height:10vh
    }

    .ctrlrow7{
        display:flex;
        flex-flow: row nowrap;
        height:10vh
        }


        .ctrlrow8{
            display:flex;
            flex-flow: row nowrap;
            height:10vh
            } 
            
.ctrlrow9{
display:flex;
flex-flow: row nowrap;
height:10vh
}